<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="./resources/weather.png">
    <title>About</title>
  </head>
  <body>
    {{>header}}
    <div>
      <p>This app was created by Daniel Tran. It uses data from mapbox.com and weatherstack.com!</p>
    <img class="image" src="./resources/IMG_1067.JPG"
    </div>
    {{>footer}}
   
  </body>
</html>