<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="./resources/weather.png">
    <title>Weather</title>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
   <p>Use this site to get the weather</p>
    <form id="form">
      <input id="search-term" placeholder="Location" />
      <button id="button">Search</button>
    </form>
  <img id="weatherStatus" src="">
  <p id="location"></p>
  <p id="weather"></p>
  <p id="description"></p>

   </div>
     {{>footer}}
      <script src="./js/app.js"></script>
  </body>
</html>